/*Reset*/
body, 
html, 
ul,li {
    padding: 0;
    margin: 0;
}

ul,li {
    list-style: none;
}

/*Mixin classes*/
/*Woud normally use LessCss, but for sake of exercise, mixins are done with a class*/

.indent {
    padding: 20px 0 0 20px;
}

.border {
    border-style: solid;
    border-color: #bebebe;
}

.menu .clearfix {
    visibility: hidden;
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    float: none;
}

.inline-block {
    display: inline-block;
    zoom: 1;
}

/*Style*/
/*Global*/
body {
    color: #878585;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    margin: 0 0 130px; /*Allow for the footer which must stick to the bottom of the viewport*/
}

a, 
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    background: #f0f0f0;
    width: 999px;
    margin: 0 auto;
    border-width: 0px 1px;
    overflow: hidden;
}

p {
    margin: 0 0 32px 0;
    line-height: 20px;
}

/*Full height cols trick*/
html,
body,
.container,
.left_col,
.main_col {
    height: 100%;
}

/*Header*/
.top_nav {
    border-width: 1px 0px;
    padding-left: 22px;
}

.menu {
    color: #bebebe;
    font-size: 17px;
}

.top_nav li{
    float: left;
    margin-right: 44px;
}

.top_nav li a{
    display: block;
    padding: 10px 18px 9px 18px;
}

.logo {
    display: block;
    margin-bottom: 20px;
}

/*Columns*/
/*Left*/
.left_col {
    float: left;
    border-width: 0px 1px 0px 0px;
    width: 22%; 
   /* Loose % allows for more descrencies between browsers than exact px
    Important when floating main content chunks! Also float in opp directions 
    so no gap on the right in case they don't meet*/
}

.left_col li a{
    display: block;
    margin-bottom: 14px;
}

/*Main*/
.main_col {
    width: 73%;
    float: right;
}

.title {
    text-transform: capitalize;
}


/*Footer*/
.footer_container {
    width: 100%;
    height: 130px;
    float: none;
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer {
    width: 979px; /*normal width minus padding*/
    height: 109px; /*same but height*/
    margin: 0 auto;
    border-width: 1px 1px 0 1px;
    background: #f0f0f0;
    color: #bebebe;
}

.content {
    display: none;

}

#box_number1 { display: block;}
